* {
  box-sizing: border-box;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  font-family: "Old Standard TT", serif;
}

p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #646266;
}

a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #0C0910;
}
a:hover {
  color: #A6A5A8;
}

h3 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Old Standard TT", serif;
}

h4 {
  font-size: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .container-fluid {
    max-width: 100vw;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .container-fluid {
    max-width: 100vw;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .container-fluid {
    max-width: 100vw;
  }
}
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0;
}

.order-xs-1 {
  order: 1;
}

.order-xs-2 {
  order: 2;
}

.order-xs-3 {
  order: 3;
}

.order-xs-4 {
  order: 4;
}

.order-xs-5 {
  order: 5;
}

.order-xs-6 {
  order: 6;
}

.order-xs-7 {
  order: 7;
}

.order-xs-8 {
  order: 8;
}

.order-xs-9 {
  order: 9;
}

.order-xs-10 {
  order: 10;
}

.order-xs-11 {
  order: 11;
}

.order-xs-12 {
  order: 12;
}

.col-xs-12 {
  grid-column: span 12;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-1 {
  grid-column: span 1;
}

@media only screen and (min-width: 768px) {
  .order-sm-1 {
    order: 1;
  }

  .order-sm-2 {
    order: 2;
  }

  .order-sm-3 {
    order: 3;
  }

  .order-sm-4 {
    order: 4;
  }

  .order-sm-5 {
    order: 5;
  }

  .order-sm-6 {
    order: 6;
  }

  .order-sm-7 {
    order: 7;
  }

  .order-sm-8 {
    order: 8;
  }

  .order-sm-9 {
    order: 9;
  }

  .order-sm-10 {
    order: 10;
  }

  .order-sm-11 {
    order: 11;
  }

  .order-sm-12 {
    order: 12;
  }

  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media only screen and (min-width: 992px) {
  .order-md-1 {
    order: 1;
  }

  .order-md-2 {
    order: 2;
  }

  .order-md-3 {
    order: 3;
  }

  .order-md-4 {
    order: 4;
  }

  .order-md-5 {
    order: 5;
  }

  .order-md-6 {
    order: 6;
  }

  .order-md-7 {
    order: 7;
  }

  .order-md-8 {
    order: 8;
  }

  .order-md-9 {
    order: 9;
  }

  .order-md-10 {
    order: 10;
  }

  .order-md-11 {
    order: 11;
  }

  .order-md-12 {
    order: 12;
  }

  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media only screen and (min-width: 1200px) {
  .order-lg-1 {
    order: 1;
  }

  .order-lg-2 {
    order: 2;
  }

  .order-lg-3 {
    order: 3;
  }

  .order-lg-4 {
    order: 4;
  }

  .order-lg-5 {
    order: 5;
  }

  .order-lg-6 {
    order: 6;
  }

  .order-lg-7 {
    order: 7;
  }

  .order-lg-8 {
    order: 8;
  }

  .order-lg-9 {
    order: 9;
  }

  .order-lg-10 {
    order: 10;
  }

  .order-lg-11 {
    order: 11;
  }

  .order-lg-12 {
    order: 12;
  }

  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
.navigation {
  position: relative;
  height: 84px;
  background-color: #FFF;
}
.navigation__logo img {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 84px;
  width: 84px;
}
.navigation__list {
  list-style-type: none;
  background-color: #FFF;
}
.navigation__item a {
  display: block;
  text-align: left;
  padding: 0.5em 2em;
  text-decoration: none;
  text-align: right;
}

.collapsible {
  text-align: right;
}
.collapsible label {
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 1.5em;
  font-size: 1.8rem;
}
.collapsible label i {
  cursor: pointer;
}

#menu {
  display: block;
}

.navinput {
  visibility: hidden;
}

.navigation__container {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

input:checked ~ .navigation__container {
  max-height: 100%;
  display: block;
  max-height: auto;
}

@media only screen and (min-width: 992px) {
  .navigation__list {
    display: block;
  }

  .collapsible label {
    display: none;
  }

  .navigation__container {
    max-height: 100%;
    padding: 0.5em 3em 0.5em 0;
    overflow: visible;
  }

  .navigation__list {
    display: flex;
    justify-content: flex-end;
    margin: inherit;
    padding: inherit;
  }

  .navigation__item a {
    padding: 0.5em 1em;
    font-size: 1rem;
  }
}
.clear {
  clear: both;
}

.mainSection__intro {
  padding: 3em 7em 3em 5em;
}
.mainSection__intro p {
  line-height: 1.6;
}

@media only screen and (max-width: 1199px) {
  .mainSection__photo {
    background-image: url("../img/main-photo.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 50vh;
  }
}
@media only screen and (min-width: 1200px) {
  .mainSection__photo {
    background-image: url("../img/main-photo.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 100%;
  }
}
.newsletter__form {
  box-sizing: border-box;
  background-color: #0C0910;
  color: #FFF;
  padding: 3.5rem 4rem;
}
.newsletter__form h5 {
  font-size: 14px;
  padding: 0.3rem 0;
}
.newsletter__subscribe {
  box-sizing: border-box;
  background-color: #FFF;
  color: #0C0910;
  height: 100%;
}
.newsletter__text {
  transform: rotate(90deg);
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  position: relative;
  top: 40%;
  font-size: 14px;
}

.button {
  margin: 2rem 0;
  padding: 0.5rem 1rem;
  background-color: #FFF;
  border: 1px solid #0C0910;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.button:hover {
  border: 1px solid #A6A5A8;
}
.button:focus {
  border: 1px solid #A6A5A8;
  color: #A6A5A8;
}

.newsletter__input {
  color: #0C0910;
  padding: 0.3em;
  border: 1px solid #0C0910;
  width: 70%;
}

@media only screen and (max-width: 1200px) {
  .newsletter__input {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
