.clear {
  clear: both;
}
.mainSection__intro{
  padding: 3em 7em 3em 5em;
  p {
    line-height: 1.6;
  }
}


@media only screen and (max-width:1199px){
  .mainSection__photo {
    background-image: url('../img/main-photo.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 50vh;
  }
}
@media only screen and (min-width:1200px){
  .mainSection__photo {
    background-image: url('../img/main-photo.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 100%;
  }
}
